/* Slide.css */
.slide {
    display: flex;
    justify-content: center;
  }
  
  .image-container {
    margin: 10px; /* Add margin for spacing between image containers */
    text-align: center;
  }
  
  .image-container img {
    max-width: 30vw;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    max-height: 100%; /* Set max-height to 100% of the container height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a slight shadow */
  }
  
  .image-container p {
    margin-top: 5px; /* Add margin to separate the title/description from the image */
    font-size: 16px; /* Adjust font size as needed */
  }
  